/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

.home[data-v-830572] {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content[data-v-830572] {
  width: 600px;
  display: flex;
}
.buttons[data-v-830572] {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button[data-v-830572] {
  display: block;
  outline: none;
  border: solid 1px #000;
  color: #000;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 6px;
  font-size: 17px;
  margin-bottom: 20px;
  width: 190px;
  text-align: center;
}
.logo[data-v-830572] {
  width: 190px;
  height: 190px;
  transition: transform 0.3s ease;
  text-align: center;
}
.logo .name[data-v-830572] {
  font-weight: bold;
  font-size: 19px;
  margin-top: 10px;
}
.logo.scale-in[data-v-830572] {
  transform: scale(0.3);
}
.category {
  width: 640px;
}
.category__title {
  width: 100%;
  height: 60px;
  padding: 0 29px;
  align-items: center;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: default;
  transition: transform ease 0.3s;
  user-select: none;
  background-color: #292940;
  color: #fff;
}
.category__body {
  margin: 0 20px;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  transition: all ease-in-out 0.1s;
  transform-origin: top;
  height: 0;
  overflow: hidden;
}
.category__body.is-opened {
  height: auto;
}
.category__body.is-opened .category__item {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.category__item {
  padding: 15px 20px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  color: #666;
  text-decoration: none;
  font-size: 15px;
}
.iconfont {
  font-size: 19px;
}

.categories[data-v-68ad0a] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.questions[data-v-8a1de4] {
  width: 700px;
  min-height: 100%;
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
}
.questions__head[data-v-8a1de4] {
  position: sticky;
  top: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #f2f2f2;
  background-color: #fff;
  z-index: 1;
}
.questions__back[data-v-8a1de4] {
  cursor: pointer;
  padding: 0 30px;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.questions__title[data-v-8a1de4] {
  margin-right: 30px;
  font-weight: bold;
  font-size: 19px;
}
.questions__body[data-v-8a1de4] {
  padding: 0 30px 30px;
}
.question[data-v-8a1de4] {
  border-bottom: dashed 1px #d3d3d3;
  padding: 20px 0;
}
.question__head[data-v-8a1de4] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question__answer[data-v-8a1de4] {
  font-weight: 400;
  font-size: 15px;
  color: #333;
  line-height: 2;
}
.question__answer strong[data-v-8a1de4] {
  color: #000;
}
html,
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
  margin: 0;
}
code[class*="language-"],
pre[class*="language-"],
code {
  font-family: 'Source Code Pro', monospace;
}
pre[class*="language-"] {
  border-radius: 4px;
  background-color: #011627;
  position: relative;
  font-size: 14px;
}
pre[class*='language-']::before {
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 3px 10px;
  font-size: 12px;
  text-align: right;
  color: #444;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
  background: #ddd;
}
pre[class='language-javascript']::before {
  content: 'js';
  background: #f7df1e;
}
pre[class='language-js']::before {
  content: 'js';
  background: #f7df1e;
}
pre[class='language-jsx']::before {
  content: 'jsx';
  background: #61dafb;
}
pre[class='language-graphql']::before {
  content: 'GraphQL';
  background: #E10098;
  color: #fff;
  font-weight: 400;
}
pre[class='language-html']::before {
  content: 'html';
  background: #3192d9;
  color: #fff;
  font-weight: 400;
}
pre[class='language-css']::before {
  content: 'css';
  background: #eeb72d;
  color: #fff;
  font-weight: 400;
}
pre[class='language-shell']::before {
  content: 'shell';
}
pre[class='language-sh']::before {
  content: 'sh';
}
pre[class='language-bash']::before {
  content: 'bash';
}
pre[class='language-yaml']::before {
  content: 'yaml';
  background: #ffa8df;
}
pre[class='language-markdown']::before {
  content: 'md';
}
pre[class='language-json']::before,
pre[class='language-json5']::before {
  content: 'json';
  background: linen;
}
pre[class='language-diff']::before {
  content: 'diff';
  background: #e6ffed;
}
pre[class='language-text']::before {
  content: 'text';
  background: #fff;
}
pre[class='language-flow']::before {
  content: 'flow';
  background: #E8BD36;
}
p {
  margin: 5px 0;
}
a {
  color: #db498a;
}
img {
  max-width: 100%;
}
ul,
ol {
  margin: 5px 0;
}
ul {
  padding-left: 30px;
}
ul > li {
  list-style-type: square;
}
ol {
  list-style: none;
  counter-reset: counter;
  padding-left: 25px;
}
ol > li {
  position: relative;
  counter-increment: counter;
}
ol > li::before {
  content: counter(counter);
  font-weight: bold;
  margin-right: 10px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #db498a;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  position: absolute;
  left: -25px;
  top: 6px;
}
blockquote {
  border-left: solid 2px #eaeaea;
  margin: 10px 0;
  padding-left: 15px;
  background-color: #f8f8f8;
  padding: 5px 15px;
}
h1 {
  font-weight: 600;
  font-size: 20px;
}
h2 {
  font-weight: 600;
  font-size: 17px;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 16px;
}
/* Tips */
p.tip {
  position: relative;
  padding: 10px 10px 10px 17px;
  border-left: solid 5px #61adff;
  background-color: #fafafa;
  margin: 10px 0;
}
p.tip::before {
  content: '!';
  position: absolute;
  left: -12px;
  top: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background-color: #61adff;
}
p.warning {
  position: relative;
  padding: 10px 10px 10px 17px;
  border-left: solid 5px #fdd94e;
  background-color: #fafafa;
  margin: 10px 0;
}
p.warning::before {
  content: '!';
  position: absolute;
  left: -12px;
  top: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background-color: #fdd94e;
}
p.danger {
  position: relative;
  padding: 10px 10px 10px 17px;
  border-left: solid 5px #fd5068;
  background-color: #fafafa;
  margin: 10px 0;
}
p.danger::before {
  content: '!';
  position: absolute;
  left: -12px;
  top: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background-color: #fd5068;
}
